.charging-station {
  border: 2px solid #333;
  padding: 10px;
  margin-bottom: 20px;
  display: flex;
}

.charging-point {
  background-color: #6bb745;
  color: white;
  text-align: center;
  padding: 5px;
  border-right: 1px solid white;
}

.charging-point:last-child {
  border-right: none;
}
